captum==0.7.0
matplotlib==3.8.0
numpy>=1.24.0
pandas>=2.0.0
scikit-learn==1.2.2
seaborn==0.13.2
torch==2.1.0+cu121
torchvision==0.16.0+cu121
tqdm==4.66.5
gputil>=1.4.0
torchviz>=0.0.2
opencv-python-headless>=4.8.0
pillow>=10.0.0
boto3>=1.34.14
sagemaker-training
tensorboard>=2.15.0